@import '_vars';

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  // font-family: 'Open Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //background-color: $clr-dark;
  //color: $clr-light;
  // background-color: $clr-dark;
  // color: white;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1; //???
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input::-ms-clear {display: none;}
button {
  cursor: pointer;
  &:hover {
    color: $clr-hover !important;
  }
}
button::-moz-focus-inner{border: 0; padding: 0;}
a, a:visited{color: inherit; text-decoration: none;}
a:hover{
  text-decoration: none;
  color: $clr-hover;
}
ul li {list-style: none;}
h1,h2,h3,h4,h5,h6 {font-weight: 400; font-size: inherit;}



///////////////////////////////////

.app {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: center;
  gap: 5rem;
  align-items: center;
  margin-inline: auto;
  min-height: 100vh;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}